*{
  box-sizing: border-box;
}

body {
  background-color: #f1f1f2;
  margin: 0px;
}

a{
  text-decoration: none;
  color: black;
}
/*-----------------------------------------------------*/
#BigHeading{
  font-weight: 200;
}

.header {
  margin: auto;
  width: 70%;
  background-image: url("images/header.jpg");
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 1px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

#navbar {
  z-index: 100;
  font-size: 30px;
  width: 70%;
  margin: auto;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
  background-image: url("images/navbar.jpg");
}

.sticky {
  left: 15%;
  position: fixed;
  top: 0;
}

#navbar a {
  margin-left: 25px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

#navbar a.active {
  background-color: #f1f1f2;
  color: black;
}
/*---------------------------------------------------*/
.box{
  font-family: 'Economica', sans-serif;
  font-weight: 100;
  text-align: center;
  width: 34%;
  position: relative;
  background-color: #a1d6e2;
}
/*---------------------------------------------------*/
#titleofpage{
  font-size: 8vw;
  margin-left: 15%;
  margin-bottom: -2vw;
  margin-top: 2vw;
}
/*-----------------------*/
#refereecode{
  margin-left: 15%;
  margin-bottom: -28vw;
  /*bottom: 2vw;*/
}

#refereecode h3{
  padding-top: 2vw;
  font-size: 4vw;
  margin-bottom: 0;
}

#refereecode p{
  font-size: 1.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
}
/*-----------------------*/
#rules{
  background-image: url("images/rules.jpeg");
  float: right;
  margin-right: 15%;
  margin-bottom: 0;
  /*bottom: 30vw;*/
}

#rules h4{
  margin-top: 1vw;
  font-size: 7vw;
  margin-bottom: 0;
}

#rules p{
  font-size: 1.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
}
/*-----------------------*/
#signals{
  background-image: url("images/signals.jpg");
  background-size: cover;
  font-size: 7vw;
  margin-left: 15%;
  /*bottom:  16vw;*/
  padding-top: 4vw;
  padding-bottom: 4vw;
  top: 14vw;
  margin-bottom: -12vw;
}
/*-----------------------*/
#cititations{
  margin-left: 51%;
}
#cititations h4{
  margin-top: 0;
  padding-top: 2vw;
  font-size: 4vw;
  margin-bottom: 0;
}

#cititations p{
  font-size: 1.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
}
/*-----------------------*/
#differentrefs{
  
  margin-top: 0;
  padding-top: 1vw;
  clear: both;
  margin-bottom: 6vw;
  margin-left: 51%;
  /*bottom: 56vw;*/
  font-size: 4vw;
  padding-left: 3vw;
  padding-right: 3vw;

  background-image: url("images/differentrefs.jpg");
  background-size: cover
}