*{
  box-sizing: border-box;
}

body {
  background-color: #f1f1f2;
  margin: 0px;
}

a{
  text-decoration: none;
  color: black;
}
/*-----------------------------------------------------*/
#BigHeading{
  font-weight: 200;
}

.header {
  margin: auto;
  width: 70%;
  background-image: url("images/header.jpg");
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 1px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

#navbar {
  z-index: 100;
  font-size: 30px;
  width: 70%;
  margin: auto;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
  background-image: url("images/navbar.jpg");
}

.sticky {
  left: 15%;
  position: fixed;
  top: 0;
}

#navbar a {
  margin-left: 25px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

#navbar a.active {
  background-color: #f1f1f2;
  color: black;
}
/*---------------------------------------------------*/
.box{
  font-family: 'Economica', sans-serif;
  font-weight: 100;
  text-align: center;
  position: relative;
  background-color: #a1d6e2;
  width: 34%;
}
/*----------------------*/
#goal{
  margin-left: 15%;
  padding: 1vw;
  margin-top: 2vw;
}
#goal h1{
  font-size: 4vw;
  margin: 0;
}
#goal p{
  font-size: 1.5vw;
}

#goalimg{
  width: 34%;
  margin-left: 15%;
}

.goalimg{
  width: 100%;
  margin-top: 1vw;
}

#goals{
  margin-bottom: -131.2vw;
}


#nogoal{
  margin-left: 51%;
  padding: 1vw;
  margin-top: 2vw;
}
#nogoal h1{
  font-size: 4vw;
  margin: 0;
}
#nogoal p{
  font-size: 1.5vw;
}

#nogoalimg{
  width: 34%;
  margin-left: 51%;
}

.nogoalimg{
  width: 100%;
  margin-top: 1vw;

