*{
  box-sizing: border-box;
}

body {
  background-color: #f1f1f2;
  margin: 0px;
}

a{
  text-decoration: none;
}
/*-----------------------------------------------------*/
#BigHeading{
  font-weight: 200;
}

.header {
  margin: auto;
  width: 70%;
  background-image: url("images/header.jpg");
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 1px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

#navbar {
  z-index: 100;
  font-size: 30px;
  width: 70%;
  margin: auto;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
  background-image: url("images/navbar.jpg");
}

.sticky {
  left: 15%;
  position: fixed;
  top: 0;
}

#navbar a {
  margin-left: 25px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

#navbar a.active {
  background-color: #f1f1f2;
  color: black;
}
/*---------------------------------------------------*/
.box{
  font-family: 'Economica', sans-serif;
  font-weight: 100;
  text-align: center;
  width: 34%;
  position: relative;
  background-color: #a1d6e2;
}
/*---------------------------------------------------*/
#flippers{
  margin-left: 15%;
  bottom: 5vw;
}

#flippers h3{
  padding-top: 2vw;
  font-size: 7vw;
  margin-bottom: 0;
}

#flippers p{
  font-size: 1.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
}
/*-----------------------*/
#flipperImg{
  float: right;
  margin-right: 15%;
  bottom: 25.2vw;
}
/*-----------------------*/
#requirements{
  margin-left: 15%;
  bottom: 8vw;
}

#requirements h4{
  padding-top: 2vw;
  font-size: 4vw;
  margin-bottom: 0;
}

#requirements ul{
  list-style-position: inside;
  font-size: 1.5vw;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vw;
}
/*-----------------------
#wheretoget{
  left: 51%;
  bottom: 19vw;
}

#wheretoget h4{
  padding-top: 2vw;
  font-size: 4vw;
  margin-bottom: 0;
}

#wheretoget p{
  font-size: 1.5vw;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vw;
}*/
/*-----------------------
#makeyourown{
  font-size: 7vw;
  color: black;
  padding: 3vw;
  background-image: url("images/makeyourown.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15%;
  bottom: 31vw;
}*/