*{
  box-sizing: border-box;
}

body {
  background-color: #f1f1f2;
  margin: 0px;
}

a{
  text-decoration: none;
  color: black;
}
/*-----------------------------------------------------*/
#BigHeading{
  font-weight: 200;
}

.header {
  margin: auto;
  width: 70%;
  background-image: url("images/header.jpg");
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 1px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

#navbar {
  z-index: 100;
  font-size: 30px;
  width: 70%;
  margin: auto;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
  background-image: url("images/navbar.jpg");
}

.sticky {
  left: 15%;
  position: fixed;
  top: 0;
}

#navbar a {
  margin-left: 25px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

#navbar a.active {
  background-color: #f1f1f2;
  color: black;
}
/*---------------------------------------------------*/
.box{
  font-family: 'Economica', sans-serif;
  font-weight: 100;
  text-align: center;
  position: relative;
  background-color: #a1d6e2;
}
/*----------------------*/
#infringements{
  width: 34%;
  font-size: 3.5vw;
  padding: 2vw 5vw;
  margin-left: 15%;
  margin-bottom: -13.8vw;

  background-image: url("images/signals.jpg");
  background-size: cover;
}
/*----------------------*/
#rules1{
  width: 34%;
  margin-left: 51%;
  font-size: 2vw;
  padding: 1.5vw;
}
/*----------------------*/
#rules2{
  width: 34%;
  margin-left: 51%;
  font-size: 2vw;
  padding: 1.5vw;
  margin-bottom: -2vw;
}
/*----------------------*/
#goals{
  width: 22%;
  margin-left: 15%;
  margin-bottom: -15.5vw;
  font-size: 3.5vw;
  padding: 4vw 2vw;

  background-image: url("images/goals.jpg");
  background-size: cover;
}
/*----------------------*/
#pucks{
  width: 22%;
  margin-left: 39%;
  margin-bottom: -15.5vw;
  font-size: 3.5vw;
  padding: 2vw;

  background-image: url("images/advantage.jpg");
  background-size: cover;
}
/*----------------------*/
#penaltys{
  width: 22%;
  margin-left: 63%;
  font-size: 3.5vw;
  padding: 2vw;

  background-image: url("images/penaltygoals.jpg");
  background-size: cover;
}
/*----------------------*/